.nav_all{
  width: 100%;
  height: 32px;
  /*设置背景颜色*/
  background-color: rgb(102, 103, 171);
  /*使得这个导航条置顶*/
  margin:0;
  padding:0;
  /*margin-left: -0.5%;*/
}
/*设置导航条文字样式*/
.nav_all span{
  /*设置span的高度，将文字在父元素中垂直居中*/
  line-height: 32px;
  /*设置span的位置*/
  margin-Left:10%;
  font-size: 13px;
      /*设置字体颜色*/
color:beige;
}

/*设置nav大小*/
.nav{
  width: 480px;
  height: 32px;
  /*使得这个导航条置顶*/
  margin:0;
  padding:0;
  float:right;
  margin-right: 55px;
}
/*设置nav中的li的浮动（水平对齐）*/
.nav li{
  /*li元素向左浮动使得这个可以变成水平*/
  float: left;
  /*去掉小圆点*/
  list-style: none;
  /*设置li的高度，将文字在父元素中垂直居中*/
  line-height: 32px;
  
}

/*设置nav中的li中的a样式*/
.nav a{
  /*将其转化为block*/
  display: block;
     /*去掉下划线*/
  text-decoration: none;
  /*设置字体颜色*/
  color:beige;
  padding: 0 15px;
  font-size: 13px;
  position: relative;
}
.nav a:hover {
  COLOR:white; 
  TEXT-DECORATION: none;
  background-color: blueviolet;
      /*去掉下划线*/
}
/*当鼠标悬浮在这个a上面的时候，设置有下划线效果*/
.nav a::after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 3px;
      background: #4c81c9;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    
}
.nav a:hover::after{
      transition: 0.3s;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
}
/*设置搜索框那一整行的样式*/
.search{
 background-color: rgb(236, 222, 204);
 width: 100%;
 height: 100px;
 /*margin-left: -1%;*/
}
.behind{
  background-color: rgb(102, 103, 171);
  width: 100%;
  height: 80px;
 /* margin-left: -1%;*/
}
.middle-right{
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  width: 900px;
 /* 高度设置100%来保持和上一个div一致，上一个div设置fixed省的乱动*/
  height: 93.4%;
  float: right;
  position: absolute;
  left:400px;
  top:3.2%;
}
/*设置li*/
.nav-left li{
  /*设置li的高度，将文字在父元素中垂直居中*/
   list-style: none;
     /*设置li的高度，将文字在父元素中垂直居中*/
     line-height: 32px;
     background-color:antiquewhite ;   
}
/*设置左边书类型导航条*/
.nav-left a{
/*去掉下划线*/
text-decoration: none;
/*如果不设置为block紫色部分没法覆盖，只能Block了*/
display: block;
/*设置字体颜色*/
color:rgb(12, 134, 134);
font-size: 20px;
}
/*设定箭头元素以及浮动*/
.array-right{
  width: 0;
  height: 0;
  border-left: 12px solid #cccf;
 border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
    /*li元素向右边浮动使得这个可以变成水平，当然前提要限制div大小*/
    float: right;
}
.nav-left{
    /*必须限定大小，否则箭头会飘出去（怨念）*/
    width: 250px;
   margin-left: 7%;

}
.solidline{
  display: block;
  height:0px;border:none;border-top:1px solid #555555;
  border-left:1px solid #555555;
}
#red-nav-left{
  background-color: rgb(102, 103, 171);
  line-height: 60px;
  font-size: 30px;
}

#float-nav{
  float: right;
  
}
/*显示一下当鼠标悬浮时候的效果*/
.nav-left a:hover {
  COLOR:white; 
  TEXT-DECORATION: none;
  background-color: blueviolet;
  position: relative;
  
}
/*实现下划线效果*/
.nav-left a::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 3px;
  background: #4c81c9;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);

}
.nav-left a:hover::after{
  transition: 0.3s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*设置下拉框*/
.menu
{
  text-indent:20px;
  z-index:33;
  visibility: hidden;
  width:560px;
  /*设定高度*/
  height: 93.4%;
  background-color:#fff;
  border-right:1px  solid red;
  border-top:1px  solid red;
  border-bottom:1px  solid red;
  border-left: 1px solid red;
  position:absolute;
  left:23.5%;
  top:3.2%;
}
body{
  width:100%;
  height: 100%;
 /* box-sizing:border-box;*/
 overflow-x: hidden;
 overflow-y: overlay;
 margin: 0;
padding: 0;
}
.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.middle{
  /*设为fixed，否则很奇怪*/
  position:absolute;
  /*设置宽度*/
  width:100%;

}

/*设定一个all，防止出现问题，有缩放什么的*/
.all{
  width:1400px;
  height:1500px;
  MARGIN-RIGHT: auto;
  background-color: rgb(252, 248, 248);
  MARGIN-LEFT: auto;
}

/*推荐栏样式*/
.recommend{
  width: 100%;
  height: 80px;
  margin-top: 500px;
  position:relative;
  box-sizing:border-box;
  font-size:em;
}
/*设置推荐栏文字*/
.recommand-name{
  font-size: 40px;
  display: block;
  padding-top: 10px;
  position: absolute;
  left:10%;
  font-weight: bold;
}
/*设置推荐栏文字*/
.recommad-a{
  font-size: 18px;
  display: block;
  padding-top: 40px;
  position: absolute;
  left:22%;

  text-decoration: none;
}
/*当推荐那个a被鼠标悬浮的时候*/
.recommad-a:hover{
color: tomato;
}
/*设置分界线*/
.recommad-hr{
  width :75% ;
  size:1; 
  color:#5151A2;
  border:1 dashed #5151A2;
  display: block;
  margin-top: 65px;
  position: absolute;
  left: 8%;
}
.recommend-content{
  width: 75%;
  height: 300px;
  margin-top: 0;
  position:relative;
  box-sizing:border-box;
  font-size:em;
 
  left: 8%;
  display: flex;
}
/*设定八本书*/
.recommend-book{
  width: 25%;
  height: 100%;
  position:relative;

}
/*设定八本书*/
.recommend-book p{
  width: 70%;
  font-weight: bold;
  text-align: center;
  display: inline-block ;
}
.recommend-book a{
	font-style: normal;
	text-align: left;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  font-weight: bold;
	text-align: center;
  text-decoration: none;
  color:black;

}
.recommend-content2{
  width: 75%;
  height: 300px;
  margin-top: 0;
  position:relative;
  box-sizing:border-box;
  font-size:em;
  /*background-color: wheat;*/
  left: 8%;
  display: flex;
  top:3%;
}

/*设定八本书*/
.recommend-book2{
  width: 25%;
  height: 100%;
  align-items: center;
}
.recommend-book2 p{
  width: 70%;
  /*超过2行省略书名*/
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position:relative;
  font-weight: bold;
  text-align:center;
  position: relative;
}
.recommend-book2 a{
  text-align: left;  
  position: relative;
	font-style: normal;
	text-align: left;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  font-weight: bold;
	text-align: center;
  text-decoration: none;
  color:black;
}
/*设置鼠标悬浮在书名上面的效果*/
.recommend-book a:hover{
  color: tomato;
  }
  .recommend-book2 a:hover{
    color: tomato;
    }
.book-img{
  /*设定一个矩形边框来存放图片*/
  width:70%;
 height:70%;
 border: 1px solid gray;
 align-items: center;
 justify-content: center;
}
.imgtrue{
  /*设置上面四张图片长宽不会超过max的div，以防溢出/太小*/
  max-width: 100%;
  max-height: 100%;
}
.imgtruedown{
    /*设置上面四张图片长宽不会超过max的div，以防溢出/太小*/
  max-width: 100%;
  max-height: 100%;
}
/*控制作者名字位置*/
.recommend-book label{
 display: block;
 overflow: hidden;  
white-space: nowrap;   
text-overflow: ellipsis; 
width: 70%;
text-align: center;
margin-top: -10px;
  }
  .recommend-book2 label{
    display: block;
    overflow: hidden;  
    white-space: nowrap;   
    text-overflow: ellipsis; 
    width: 70%;
text-align: center;
margin-top: -10px;
     }
     .recommend-book span{
      display: block;
      overflow: hidden;  
      white-space: nowrap;   
      text-overflow: ellipsis; 
      width: 70%;
  text-align: center;
  font-size: 20px;
  color: chocolate;
       }
.recommend-book2 span{
        display: block;
        overflow: hidden;  
        white-space: nowrap;   
        text-overflow: ellipsis; 
        width: 70%;
    text-align: center;
    font-size: 20px;
    color: chocolate;
         }

/* 控制主页的那个标题图片*/
.search img{
   margin-left: 9%;
} 
/*搜索框*/
.container {
  width: 500px;
  height: 50px;
  float:right;

  }
  
  .parent {
  width: 100%;
  height: 42px;
  top: -75px;
  right: 80px;
  position: relative;
  }
  
  .parent>input:first-of-type {
  /*输入框高度设置为40px, border占据2px，总高度为42px*/
  width: 380px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  }
  
  .parent>input:first-of-type:focus {
  border: 1px solid #317ef3;
  padding-left: 10px;
  }
  
  .parent>a>input:last-of-type {
  /*button按钮border并不占据外围大小，设置高度42px*/
  width: 100px;
  height: 44px;
  position: absolute;
  background: #317ef3;
  border: 1px solid #317ef3;
  color: #fff;
  font-size: 16px;
  outline: none;
  }
  #warninggg{
    max-width: 100%;
  }


