.login-body{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    width: 100%;  
    height: 100%;  
    position: absolute;  
    left: 0px;  
    top: 0px;  

}
.login-div{
    width:25%;
    height:auto;
    margin:0 auto ;
    margin-top:13%;
    background-color:rgb(255, 255, 240,0.5);   
	box-shadow:2px 2px 20px 2px rgba(77, 63, 20, 0.3);
    padding:20px 50px;
  
}
.title{
    font-size: 36px;
    margin-left: 40%;
    font-size: 等线;
    font-weight: 600;
    color: rebeccapurple;
}
.info-label{
    font-size: 20px;
    margin-left: 20%;
    font-size: 等线;
    font-weight: 500;
    color: rebeccapurple;
}
.input{
    
    border-radius: 18px;
    background-color: white;
    border:2.5px solid rgb(102, 51, 153,0.3);
    height: 30px;
    width: 60%;
}
.login-button{
    margin-left: 35%;
    border-radius:18px;
    width: 30%;
	height: 50px;
	border: none;
	background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
	background-size: 200%;
	color: #fff;
	/* cursor:pointer：设置鼠标样式 */
	cursor:pointer;
	transition: .5s;
    font-size: 18px;
    font-weight: 550;
}
.login-button:hover{
    margin-left: 35%;
    border-radius:18px;
    width: 30%;
	height: 50px;
	border: none;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	background-size: 200%;
	color: #fff;
	/* cursor:pointer：设置鼠标样式 */
	cursor:pointer;
	transition: .5s;
    font-size: 18px;
    font-weight: 550;
}
.linktoreg{
    margin-left: 5%;
    font-size: 20px;
    color: rebeccapurple;
}
.link:hover{
    margin-left: 5%;
    font-size: 20px;
    color: darkgoldenrod;
}